# Arithmetic Operations

In [2]:
# A is to add cell above
# B is to add cell below
print('Hello world')

Hello world

In [4]:
?print

In [6]:
(4 + 8) * (6.5 - 3)

42.0

In [7]:
# true division
13 / 2

6.5

In [8]:
# floor division
13 // 2

6

In [9]:
# Remainder
13 % 2

1

In [11]:
a = 24
print(a)

24

In [12]:
a

24

In [13]:
a + 2

26

In [15]:
a = a + 2
a

28

In [16]:
a * 2

56

56

# Comparison

In [18]:
# ==, <, >, <=, >=, !=
# is 25 odd?
25 % 2 == 1

True

In [19]:
66 % 2 == 1

False

In [20]:
a = 25
15 < a < 30

True

In [22]:
if 25%2 == 1:
    print('odd')
else: 
    print('even')

odd

In [24]:
# boolean True equals 1 and False equals 0
if False == 0:
    print ('False is 0')
else:
    print ('It is another value')

False is 0

# Boolean and Function

In [25]:
x = 4
(x < 7) and (x < 3)

False

In [26]:
(x > 10) or (x % 2 == 0)

True

In [27]:
not(x < 6)

False

In [28]:
myname = input('What is your name?')

What is your name?Benjamin

In [29]:
myname

'Benjamin'

In [30]:
# len()
strline = 'This is Python'
len(strline)

14

In [31]:
# print()
print('Hello', 'world')

Hello world

In [32]:
print('first value', 1)

first value 1

In [33]:
def fibonacci(N):
    a, b = 0, 1
    L = [a]
    
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [36]:
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [42]:
def fibonacci(N, a = 0, b = 1):
    #a, b = 0, 1
    L = []
    
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [44]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# Data Types

In [45]:
x = 1
type(x)

int

In [47]:
x = 0.000005
y = 5e-6
print(x == y)

True

In [49]:
print(0.00005)

5e-05

In [51]:
message = "what do you like?"
response = 'spam'

# Data Structures

In [52]:
L = [2, 3, 5, 7]

In [53]:
len(L)

4

In [54]:
L.append(11)
L

[2, 3, 5, 7, 11]

In [55]:
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [56]:
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [57]:
L = [1, 'two', 3.14, [0, 3, 5]]

In [58]:
L[0:3]

[1, 'two', 3.14]

In [61]:
L[-3:]

['two', 3.14, [0, 3, 5]]

In [62]:
L[::-1]

[[0, 3, 5], 3.14, 'two', 1]

In [63]:
L[0] = 100
L

[100, 'two', 3.14, [0, 3, 5]]

In [64]:
L[1:3] = 55, 56
L

[100, 55, 56, [0, 3, 5]]

# Tuples

In [65]:
mytuple = ()
type(mytuple)

tuple

In [66]:
type(L)

list

In [67]:
t = ('one',)

In [68]:
type(t)

tuple

In [69]:
T = (0, 1, 2, 3, 4, 5)
type(T)

tuple

In [70]:
T = T + (7, 8)

In [71]:
T

(0, 1, 2, 3, 4, 5, 7, 8)

In [72]:
T[0] = 100

TypeError: 'tuple' object does not support item assignment

In [75]:
T = (1, 'a', [{'Name': 'Sarah', "Age": 25}])

# Dictionaries

In [79]:
numbers = {'one':1, 'two':2}

# Control flow

In [80]:
x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I have seen")

-15 is negative

In [81]:
for N in [2, 3, 5, 7]:
    print(N, end = '\n')

2
3
5
7

In [83]:
for i in range(0, 10, 2):
    print(i, end = ' ')

0 2 4 6 8

In [85]:
i = 0

while i < 10:
    print(i, end = ' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [86]:
# break, continue
for n in range(20):
    if n%2 == 0:
        continue
    print(n, end = ' ')

1 3 5 7 9 11 13 15 17 19

In [87]:
for n in range(20):
    if n == 10:
        break
    print(n, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [88]:
a, b = 0, 1
amax = 100
L = []

while True:
    a, b = b, a + b
    if a > amax:
        break
    L.append(a)
L

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Reading and writing files

In [90]:
# f = open(filename, mode); e.g. mode = r for read, w for write, a = append
file = open('20210714.txt', 'w')
file.write('Hello world' + '\n')
file.write('This is a basic Python course' + '\n')
file.write('Also when is lunch?!?')

file.close()

In [91]:
import openpyxl

In [92]:
from openpyxl import Workbook

In [93]:
wb = Workbook()

In [94]:
wb.sheetnames

['Sheet']

In [95]:
sheet = wb.active

In [96]:
sheet.title

'Sheet'

In [97]:
sheet.title = 'Python for Data Science'

In [98]:
sheet.title

'Python for Data Science'

In [99]:
wb.create_sheet()

In [100]:
wb.create_sheet(index = 2, title = 'Another sheet')

In [101]:
wb.sheetnames

['Python for Data Science', 'Sheet', 'Another sheet']

In [102]:
sheet = wb['Python for Data Science']

In [103]:
sheet['A1'] = 'Hello world'

In [104]:
sheet['B1'] = 'Countries'

In [105]:
sheet['B2'] = 'Malaysia'

In [106]:
sheet['B3'] = 'Australia'

In [107]:
sheet['B4'] = 'Vietnam'

In [108]:
sheet['B5'] = 'Singapore'

In [109]:
wb.save('myExcel-20210714.xlsx')

In [110]:
wb = openpyxl.load_workbook('myExcel-20210714.xlsx')

In [111]:
wb.sheetnames

['Python for Data Science', 'Sheet', 'Another sheet']

In [112]:
a = 0
for i in wb.sheetnames:
    a += 1
a

3

In [113]:
sheet = wb['Python for Data Science']

In [114]:
sheet['C1'] = 'Numbers'

In [115]:
mylist = [1, 2, 3, 4]

In [116]:
for i in mylist:
    sheet['C' + str(i+1)] = i

In [117]:
wb.save('myExcel-20210714.xlsx')

In [119]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [120]:
df = pd.read_excel('myExcel-20210714.xlsx', sheet_name = 'Python for Data Science')

In [121]:
df.columns

Index(['Hello world', 'Countries', 'Numbers'], dtype='object')

In [122]:
df

   Hello world  Countries  Numbers
0          NaN   Malaysia        1
1          NaN  Australia        2
2          NaN    Vietnam        3
3          NaN  Singapore        4

In [123]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [124]:
for i in df.index:
    print(df['Countries'][i])

Malaysia
Australia
Vietnam
Singapore

# Module, package and class

In [125]:
import random

for i in range (5):
    print(random.randint(1, 10))

3
2
9
1
10

In [128]:
import math
math.cos(math.pi)

-1.0

In [129]:
import numpy as np
np.cos(np.pi)

-1.0

In [130]:
!pip install supersmoother

Collecting supersmoother
  Downloading supersmoother-0.4.tar.gz (233 kB)
Building wheels for collected packages: supersmoother
  Building wheel for supersmoother (setup.py): started
  Building wheel for supersmoother (setup.py): finished with status 'done'
  Created wheel for supersmoother: filename=supersmoother-0.4-py3-none-any.whl size=16148 sha256=3d8c8934b92933bb9105948b7304c739f11b279bd5b78d8c3d6345eef4f8ed35
  Stored in directory: c:\users\scale edp 1\appdata\local\pip\cache\wheels\8c\d6\54\b0d977114f0be24ce8182691b75d5d4ce02b6b07542a855f38
Successfully built supersmoother
Installing collected packages: supersmoother
Successfully installed supersmoother-0.4

In [132]:
class Employee:
    'This is an employee class to describe details of employees'
    name = ''
    status = 'Single'
    address = ''
    salary = 60000.0
    
    def description(self):
        desc_str = %'s status is %s, living in %s, and the salary is $.2f."
        return desc_str

SyntaxError: invalid syntax (<ipython-input-132-9aa7f3b174b7>, line 9)

# Working with Data Sources

In [133]:
f = open("parcels.csv", "r")

In [135]:
data = f.read()
# Let's see what the data object is
data

'year,parcels_count\n2004,1175900\n2005,1148900\n2006,1190384\n2007,1346800\n2008,1432700\n2009,1527400\n2010,1564000\n2011,2176900\n2012,2602700\n2013,2987800\n2014,3646600\n2015,4829700\n2016,5162576\n'

In [136]:
type(data)

str

In [137]:
listrows = data.split("\n")
type(listrows)

list

In [138]:
len(listrows)

15

In [139]:
listrows

['year,parcels_count',
 '2004,1175900',
 '2005,1148900',
 '2006,1190384',
 '2007,1346800',
 '2008,1432700',
 '2009,1527400',
 '2010,1564000',
 '2011,2176900',
 '2012,2602700',
 '2013,2987800',
 '2014,3646600',
 '2015,4829700',
 '2016,5162576',
 '']

In [141]:
total_parcels = 0
for row in listrows:
    year, parcels_string = row.split(',')
    total_parcels += int(parcels_string)
    
total_parcels

ValueError: invalid literal for int() with base 10: 'parcels_count'

In [142]:
total_parcels = 0
for i in range(1, len(listrows)-1):
    year, parcels_string = listrows[i].split(',')
    total_parcels += int(parcels_string)
    
total_parcels

30792360

In [143]:
!pip install bs4

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [144]:
from bs4 import BeautifulSoup

In [145]:
import requests

In [146]:
webpage_url = 'https://books.toscrape.com/'

In [147]:
r = requests.get(webpage_url)

In [148]:
r.status_code

200

In [149]:
len(r.content)

51294

In [150]:
r.content[0:200]

b'<!DOCTYPE html>\n<!--[if lt IE 7]>      <html lang="en-us" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->\n<!--[if IE 7]>         <html lang="en-us" class="no-js lt-ie9 lt-ie8"> <![endif]-->\n<!--[if I'

In [154]:
soup = BeautifulSoup(r.content, 'html.parser')

In [155]:
book_titles = soup.find_all('h3')

In [156]:
book_titles[0]

In [157]:
book_titles[0].find('a')['title']

'A Light in the Attic'

In [159]:
book_prices = soup.find_all('p', attrs = {'class': 'price_color'})

In [160]:
book_prices[0]

In [163]:
price = float(book_prices[0].text[1:])
type(price)

float

In [164]:
price

51.77

In [165]:
len(book_titles)

20

In [166]:
len(book_prices)

20

In [167]:
df_books = pd.DataFrame(columns = ['Title', 'Price in pounds'])

In [168]:
for i in range(len(book_titles)):
    book = book_titles[i]
    df_books.loc[i,'Title'] = book.find('a')['title']
    
    price = book_prices[i]
    df_books.loc[i,'Price in pounds'] = float(price.text[1:])

In [170]:
df_books.to_excel('books_to_scrape-20210714.xlsx')

In [171]:
URL = 'https://en.wikipedia.org/wiki/Demographics_of_Singapore'

In [172]:
df_backup = pd.read_html(URL, index_col = None)

In [173]:
df = df_backup[4]

In [174]:
df

    Age group (years)   1990   2000   2010   2011   2012      2013      2014
0            Below 15  23.0%  21.9%  17.4%  16.8%  16.4%     16.0%     15.7%
1               15–24  16.9%  12.9%  13.5%  13.6%  13.7%     13.6%     13.2%
2               25–34  21.5%  17.0%  15.1%  14.8%  14.4%     14.4%     14.4%
3               35–44  16.9%  19.4%  16.7%  16.4%  16.3%     16.1%     16.0%
4               45–54   9.0%  14.3%  16.6%  16.7%  16.5%     16.4%     16.1%
5               55–64   6.7%   7.2%  11.7%  12.4%  12.7%     13.1%     13.4%
6         65 and over   6.0%   7.2%   9.0%   9.3%   9.9%     10.5%     11.2%
7  Median age (years)   29.8   34.0   37.4   38.0   38.4  38.9[20]  39.3[20]